<ng-container>
  <mat-card style="padding: 8px !important" class="mb-4">
    <div class="flex items-center">
      <!-- <ng-container>
        <div
          class="
            w-10
            h-10
            rounded-full
            bg-accent
            flex
            items-center
            justify-center
            text-white
          "
        >
          Invite
        </div>
      </ng-container> -->

      <div class="flex-grow px-2">
        <h1 class="font-medium">
          {{ sellerEmail.substring(0,33) }}
        </h1>
        <h3 class="text-grey text-sm"> Pending Invite </h3>
      </div>

      <i
        class="las la-times-circle hover:text-accent text-grey cursor-pointer"
        *ngIf="!deleting"
        (click)="remove(invitationId)"
      ></i>
      <mat-spinner *ngIf="deleting" diameter="40"></mat-spinner>
    </div>
  </mat-card>
</ng-container>
