<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav border-0 flex flex-col"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    (click)="drawer.mode === 'side' || drawer.toggle()"
  >
    <div class="flex flex-col justify-between h-full">
      <div>
        <div
          style="height: 70px"
          class="
            flex
            justify-center
            items-center
            border-b border-secondary
            mb-4
          "
        >
          <img
            class="h-8 cursor-pointer"
            routerLink="/auctions"
            src="assets/images/logo.svg"
            alt="Max sold logo"
          />
        </div>

        <ul>
          <li
            class="
              h-14
              w-11/12
              mb-2
              relative
              group
              cursor-pointer
              hover:text-accent
              transition-all
            "
            routerLinkActive="bg-accent text-white rounded-r-full hover:text-white"
            routerLink="/auctions"
          >
            <div
              class="
                absolute
                pl-6
                w-full
                h-full
                top-0
                right-0
                flex
                items-center
                transition-all
              "
            >
              <i class="las la-list-ul mr-4"></i>
              <h3>Auctions</h3>
            </div>
          </li>
          <li
            class="
              h-14
              w-11/12
              mb-2
              relative
              group
              cursor-pointer
              hover:text-accent
              transition-all
            "
          >
            <a href="https://client.maxsold.com/" target="_blank">
              <div
                class="
                  absolute
                  pl-6
                  w-full
                  h-full
                  top-0
                  right-0
                  flex
                  items-center
                  hover:text-accent
                  transition-colors
                "
              >
                <i class="las la-folder-plus mr-4 group-hover:text-accent"></i>
                <h3>New Contract</h3>
              </div>
            </a>
          </li>

          <li
            class="
              h-14
              w-11/12
              mb-2
              relative
              group
              cursor-pointer
              hover:text-accent
              transition-all
            "
            routerLinkActive="bg-accent text-white rounded-r-full hover:text-white"
            routerLink="/preferences"
          >
            <div
              class="
                absolute
                pl-6
                w-full
                h-full
                top-0
                right-0
                flex
                items-center
                transition-all
              "
            >
              <i class="las la-sliders-h mr-4"></i>
              <h3>Preferences</h3>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <a
            href="https://support.maxsold.com/hc/en-us/sections/200632154-Seller-FAQ-s"
            target="_blank"
          >
            <li
              class="
                h-20
                border-t border-secondary
                px-8
                flex flex-col
                justify-center
                items-start
                cursor-pointer
                hover:text-accent
              "
            >
              <h3 class="uppercase text-accent text-xs mb-3">SUPPORT</h3>
              <div class="flex items-center">
                <i class="las la-question-circle mr-4"></i>
                <h3>FAQs</h3>
              </div>
            </li>
          </a>
          <li
            class="
              h-16
              border-t border-secondary
              px-8
              flex flex-col
              justify-center
              items-start
              cursor-pointer
              hover:text-accent
            "
            (click)="signOut()"
          >
            <div class="flex items-center">
              <i class="las la-sign-out-alt mr-4"></i>
              <h3>Logout</h3>
            </div>
          </li>
        </ul>
      </div>
      <div
        style="color: rgba(229, 229, 229, 1)"
        class="absolute right-0 bottom-0 z-50 text-gray-200 text-xs pr-5"
      >
        v{{ currentApplicationVersion }}
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="bg-secondary">
    <div
      class="h-screen overflow-y-scroll"
      appScroll
      (bottomReached)="bottomReached()"
    >
      <mat-toolbar
        class="flex justify-between bg-white border-secondary border-l border-b"
        style="height: 70px"
      >
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          *ngIf="isHandset$ | async"
          (click)="drawer.toggle()"
        >
          <i class="las la-bars"></i>
        </button>

        <img
          class="h-8 lg:hidden cursor-pointer"
          routerLink="/auctions"
          src="assets/images/logo.svg"
          alt="Max sold logo"
        />
        <div></div>

        <app-user-notifications></app-user-notifications>
      </mat-toolbar>
      <div
        class="w-full p-4 pb-20 lg:p-8 lg:pb-20"
        style="min-height: calc(100vh - 70px)"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
