<div
  class="
    w-screen
    bg-white
    flex
    justify-center
    items-start
    lg:items-center
    bg-center bg-cover
    overflow-x-hidden
  "
  style="background-image: url('assets/images/background_login.jpg')"
>
  <div
    class="
      w-full
      max-w-4xl
      h-full
      rounded-3xl
      relative
      lg:flex lg:border-white lg:border-2
    "
    style="height: 100%;"
  >
    <div class="absolute left-1/2 mt-48 lg:mt-7">
      <div
        class="
          animate__animated animate__slideInRight
          relative
          rounded-full
          bg-primary
          w-64
          h-14
          -left-1/2
          flex
          p-1.5
          z-20
        "
      >
        <div
          class="
            cursor-pointer
            w-1/2
            text-white
            rounded-3xl
            flex
            justify-center
            items-center
          "
          routerLink="../sign-up"
        >
          <h2 class="text-xs">SIGN UP</h2>
        </div>
        <div
          class="
            ml-4
            w-1/2
            bg-accent
            rounded-3xl
            text-white
            flex
            justify-center
            items-center
          "
        >
          <h2 class="text-xs">LOGIN</h2>
        </div>
      </div>
    </div>
    <div
      class="
        w-full
        h-56
        flex
        justify-center
        items-center
        header-box
        bg-center bg-cover
        lg:w-1/2 lg:h-full lg:items-start lg:justify-start
      "
    >
      <img
        class="
          h-16
          lg:h-10 lg:mt-8 lg:ml-8
          animate__animated animate__fadeIn animate__delay-1s
        "
        src="assets/images/logo.svg"
        alt="Max sold logo"
      />
    </div>
    <div
      class="
        w-full
        lg:w-1/2
        bg-white
        lg:rounded-r-2xl
        pt-16
        lg:pt-24
        animate__animated animate__fadeIn
      "
    >
      <div class="px-8 pb-8">
        <div class="text-left">
          <h1 class="mt-3 text-4xl">Welcome to the MaxSold Seller Portal</h1>
          <p class="mt-3 text-base">
            Discover the easiest, most efficient and proven way to quickly sell
            all your household and business goods.
          </p>
        </div>
        <div class="mt-4">
          <app-auth-providers></app-auth-providers>
        </div>
        <div class="my-6 flex justify-end items-center">
          <div class="flex-grow bg-light-grey" style="height: 1px"></div>
          <span class="mx-4 text-grey">OR</span>
          <div class="flex-grow bg-light-grey" style="height: 1px"></div>
        </div>

        <form
          [formGroup]="signInForm"
          (ngSubmit)="signInEmailPassword()"
          class="flex flex-col"
        >
          <mat-form-field class="mb-2">
            <input
              matInput
              placeholder="Email"
              formControlName="email"
              required
            />
          </mat-form-field>
          <div
            class="mb-2"
            *ngIf="
              (signInForm.get('email')?.errors?.email ||
                signInForm.get('email')?.errors?.pattern) &&
              signInForm.get('email').touched
            "
          >
            <mat-error>The email is invalid</mat-error>
          </div>
          <mat-form-field class="mb-2">
            <input
              matInput
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Password"
              formControlName="password"
              required
            />
            <i
              matSuffix
              class="las cursor-pointer"
              [ngClass]="showPassword ? 'la-low-vision' : 'la-eye'"
              (click)="showPassword = !showPassword"
            ></i>
          </mat-form-field>
          <div class="flex justify-between mb-5">
            <mat-checkbox
              [(ngModel)]="rememberEmail"
              [ngModelOptions]="{ standalone: true }"
              class="text-grey"
              >Remember Email</mat-checkbox
            >
            <p
              class="text-accent cursor-pointer"
              routerLink="../trouble-sign-in"
            >
              Forgot Password?
            </p>
          </div>
          <div style="text-align:center;">
            <div style="display:inline-block;transform:scale(0.7);">
              <re-captcha [(ngModel)]="captcha" name="captcha" required (resolved)="addTokenLog('Captcha Resolved', $event)"></re-captcha>
            </div>
          </div>
          <button
            *ngIf="!requesting; else loader"
            mat-flat-button
            [disabled]="signInForm.invalid"
            color="accent"
          >
            LOGIN
        </button>

          <ng-template #loader>
            <app-loader-box></app-loader-box>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</div>
