<div
  class="px-2 bg-light-yellow rounded-lg flex items-start mb-3"
  *ngIf="notification"
  [ngClass]="{
    'bg-light-yellow': notification.priority === types.Important,
    'bg-light-blue-3': notification.priority === types.Informational
  }"
>
  <div class="w-10 h-12 pt-2 flex-shrink-0 lg:flex-shrink">
    <div [ngSwitch]="notification.priority">
      <div *ngSwitchCase="types.Informational">
        <i class="las la-info-circle text-info"></i>
      </div>
      <div *ngSwitchCase="types.Important">
        <i class="las la-exclamation-triangle text-alert"></i>
      </div>
    </div>
  </div>
  <div
    class="w-32 h-12 font-medium pt-3 hidden lg:block flex-shrink-0"
    [ngClass]="
      notification.priority === types.Important ? 'text-alert' : 'text-info'
    "
  >
    {{
      notification.priority === types.Important ? "Important" : "Informational"
    }}
  </div>
  <div class="flex-grow lg:pt-3 font-medium">
    <div class="lg:hidden flex justify-between pt-1.5">
      <div
        [ngClass]="{
          'text-alert': notification.priority === types.Important,
          'text-info': notification.priority === types.Informational
        }"
      >
        {{
          notification.priority === types.Important
            ? "Important"
            : "Informational"
        }}
      </div>
      <div class="text-sm">
        {{ notification.dateSent | auctionDate | date: "shortDate" }}
      </div>
    </div>
    {{ notification.friendlyName }}
  </div>
  <div class="w-32 h-12 pt-3 font-medium hidden lg:block">
    {{ notification.dateSent | auctionDate | date: "shortDate" }}
  </div>
</div>
