<div [ngSwitch]="phase" class="uppercase">
  <div *ngSwitchCase="phases.auctionCancelled">
    <app-badget color="bg-auction-cancelled">
      <div class="w-44 text-center">Auction Cancelled</div>
    </app-badget>
  </div>
  <div *ngSwitchCase="phases.futureAuction">
    <app-badget color="bg-auction-future">
      <div class="w-44 text-center">Future Auction</div>
    </app-badget>
  </div>
  <div *ngSwitchCase="phases.upcomingAuction">
    <app-badget color="bg-auction-upcoming">
      <div class="w-44 text-center">Upcoming Auction</div>
    </app-badget>
  </div>

  <div *ngSwitchCase="phases.liveAuction">
    <app-badget color="bg-auction-live">
      <div class="w-44 text-center">Live Auction</div>
    </app-badget>
  </div>

  <div *ngSwitchCase="phases.auctionClosed">
    <app-badget color="bg-auction-closed">
      <div class="w-44 text-center">Auction Closed</div>
    </app-badget>
  </div>

  <div *ngSwitchCase="phases.pickupComplete">
    <app-badget color="bg-auction-pickup-completed">
      <div class="w-44 text-center">Pickup Completed</div>
    </app-badget>
  </div>

  <div *ngSwitchCase="phases.auctionComplete">
    <app-badget color="bg-auction-completed">
      <div class="w-44 text-center">Auction Completed</div>
    </app-badget>
  </div>

  <div *ngSwitchCase="phases.pastAuction">
    <app-badget color="bg-auction-past">
      <div class="w-44 text-center">Past Auction</div>
    </app-badget>
  </div>
  <div *ngSwitchDefault>
    <app-badget color="bg-auction-future">
      <div class="w-44 text-center">Future Auction</div>
    </app-badget>
  </div>
</div>
