<!-- auction metrics -->
<app-closeable-card>
  <div title class="flex justify-between items-center">
    <h1 class="font-medium text-3xl mb-3">Auction Metrics</h1>
    <p class="cursor-pointer hidden lg:block">
      {{
        dates.length > 0
          ? ""
          : "Not available until the auction is live or complete."
      }}
    </p>
  </div>
  <div main *ngIf="dates.length > 0">
    <p *ngIf="dates.length <= 0" class="cursor-pointer">
      Not available until the auction is live or complete.
    </p>
    <!-- no clickable -->
    <div class="grid grid-cols-1 lg:grid-cols-4 mb-3 gap-4">
      <div></div>
      <div>
        <div
          class="flex items-start mb-3 border border-light-grey p-4 rounded-xl"
        >
          <div class="flex-grow">
            <h3 class="text-accent font-medium">Total views</h3>
            <h1 class="text-black text-3xl font-medium">
              {{ totalViews ? totalViews : 0 }}
            </h1>
          </div>
        </div>
      </div>
      <div>
        <div
          class="flex items-start mb-3 border border-light-grey p-4 rounded-xl"
        >
          <div class="flex-grow">
            <h3 class="text-accent font-medium">Number of Lots</h3>
            <h1 class="text-black text-3xl font-medium">
              {{ numberOfLots }}
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!-- clickeble cards -->
    <div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-4 mb-3 gap-4">
      <div class='has-tooltip'>
        <mat-card
          (click)="state = 'bids'"
          class="
            cursor-pointer
            border border-light-grey
            hover:border-report-bids
          "
        >
          <div class="flex items-start mb-3">
            <div class="flex-grow">
              <h3 class="text-accent font-medium">Bids ($)</h3>
              <h1 class="text-black text-3xl font-medium">
                {{ lastRevenue | currency }}
              </h1>
              <h5 class="text-xs text-grey">{{ timeDiff }}</h5>
            </div>
            <img src="assets/icons/bids_icon.svg" alt="bids" />
          </div>
          
        </mat-card>
        <span class='tooltip'>Click to view bid stats!</span>
      </div>
      <div class='has-tooltip'>
        <mat-card
          (click)="state = 'views'"
          class="
            cursor-pointer
            border border-light-grey
            hover:border-report-views
          "
        >
          <div class="flex items-start mb-3">
            <div class="flex-grow">
              <h3 class="text-accent font-medium">Bidders</h3>
              <h1 class="text-black text-3xl font-medium">{{ lastBids }}</h1>
              <h5 class="text-xs text-grey">{{ timeDiff }}</h5>
            </div>
            <img src="assets/icons/views_icon.svg" alt="views" />
          </div>
        </mat-card>
        <span class='tooltip'>Click to view bidder stats!</span>
      </div>
      <div class='has-tooltip'>
        <mat-card
          (click)="state = 'bidCount'"
          class="
            cursor-pointer
            border border-light-grey
            hover:border-report-count
          "
        >
          <div class="flex items-start mb-3">
            <div class="flex-grow">
              <h3 class="text-accent font-medium">Bid Count</h3>
              <h1 class="text-black text-3xl font-medium">
                {{ lastBidsCount }}
              </h1>
              <h5 class="text-xs text-grey">{{ timeDiff }}</h5>
            </div>
            <img src="assets/icons/bid_count_icon.svg" alt="counts" />
          </div>
        </mat-card>
        <span class='tooltip'>Click to view bid count!</span>
      </div>
      <div class='has-tooltip'>
        <mat-card
          (click)="state = 'sellThro'"
          class="
            cursor-pointer
            border border-light-grey
            hover:border-report-sells
          "
        >
          <div class="flex items-start mb-3">
            <div class="flex-grow">
              <h3 class="text-accent font-medium">Sell-thru Rate</h3>
              <h1 class="text-black text-3xl font-medium">
                {{ lastSellThro }}%
              </h1>
              <h5 class="text-xs text-grey">{{ timeDiff }}</h5>
            </div>
            <img src="assets/icons/sell_thru_rate.svg" alt="sell" />
          </div>
        </mat-card>
        <span class='tooltip'>Click to view sell-thru rate!</span>
      </div>
    </div>
    <div [ngSwitch]="state">
      <div *ngSwitchCase="'bids'">
        <app-bids-chart
          [timeDiff]="timeDiff"
          [xAxisAuction]="dates"
          [yAxisAuction]="revenues"
          [lastInfo]="lastRevenue"
        ></app-bids-chart>
      </div>
      <div *ngSwitchCase="'views'">
        <app-views-chart
          [timeDiff]="timeDiff"
          [xAxisAuction]="dates"
          [yAxisAuction]="bids"
          [lastInfo]="lastBids"
        ></app-views-chart>
      </div>
      <div *ngSwitchCase="'bidCount'">
        <app-bid-count-chart
          [timeDiff]="timeDiff"
          [xAxisAuction]="dates"
          [yAxisAuction]="bidsCount"
          [lastInfo]="lastBidsCount"
        ></app-bid-count-chart>
      </div>
      <div *ngSwitchCase="'sellThro'">
        <app-sell-thro-chart
          [timeDiff]="timeDiff"
          [xAxisAuction]="dates"
          [yAxisAuction]="sellThro"
          [lastInfo]="lastSellThro"
        >
        </app-sell-thro-chart>
      </div>
    </div>
  </div>
</app-closeable-card>
