<mat-card class="mb-5">
  <div class="flex items-center justify-between mb-5">
    <h1 class="font-medium text-3xl">Profile</h1>
    <ng-container *ngIf="!loading; else loader">
      <div *ngIf="!editMode">
        <button
          (click)="editMode = true; enableForm()"
          mat-flat-button
          color="accent"
        >
          EDIT
        </button>
      </div>
      <div class="flex" *ngIf="editMode">
        <div class="mr-2">
          <button
            class="border-button"
            (click)="editMode = false; fillForm(); disableForm()"
            mat-flat-button
            color="accent"
          >
            CANCEL
          </button>
        </div>
        <button
          [disabled]="personaInformation.invalid"
          (click)="updateInfo()"
          mat-flat-button
          color="accent"
        >
          SAVE
        </button>
      </div>
    </ng-container>

    <ng-template #loader>
      <app-loader-box></app-loader-box>
    </ng-template>
  </div>
  <form [formGroup]="personaInformation" class="w-full">
    <div class="w-full">
      <mat-form-field class="mb-2 pr-1 w-full lg:w-2/4">
        <mat-label>First Name</mat-label>
        <input
          formControlName="firstName"
          matInput
          type="text"
          placeholder="First Name"
        />
        <i
          *ngIf="personaInformation.get('firstName').valid && editMode"
          matSuffix
          class="las la-check text-success"
        ></i>
        <mat-error>The first name is required</mat-error>
      </mat-form-field>
      <mat-form-field class="mb-2 w-full lg:w-2/4 lg:pl-1">
        <mat-label>Last Name</mat-label>
        <input
          formControlName="lastName"
          matInput
          type="text"
          placeholder="Last Name"
        />
        <i
          *ngIf="personaInformation.get('lastName').valid && editMode"
          matSuffix
          class="las la-check text-success"
        ></i>
        <mat-error>The last name is required</mat-error>
      </mat-form-field>
    </div>
    <div class="w-full flex flex-col lg:flex-row">
      <div class="pr-1 w-full lg:w-2/4">
        <mat-form-field class="w-full">
          <mat-label>Phone number</mat-label>
          <input
            matInput
            formControlName="phone"
            [mask]="'(000) 000-0000'"
            type="text"
            placeholder="Phone Number"
          />
          <i
            *ngIf="personaInformation.get('phone').valid && editMode"
            matSuffix
            class="las la-check text-success"
          ></i>
        </mat-form-field>
      </div>

      <div class="w-full lg:w-2/4 lg:pl-1">
        <mat-form-field class="w-full">
          <mat-label>Time zone</mat-label>
          <mat-select formControlName="timeZone">
            <mat-option
              *ngFor="let zone of timeZones"
              [value]="zone.timezoneValue"
              >{{ zone.timezoneLabel }}</mat-option
            >
          </mat-select>
          <i
            *ngIf="personaInformation.get('timeZone').valid && editMode"
            matSuffix
            class="las la-check text-success"
          ></i>
        </mat-form-field>
      </div>
    </div>
    <div class="w-full mb-6">
      <mat-radio-group
        class="mb-4 flex items-center"
        formControlName="contactMethod"
      >
        <h2 class="mr-4 text-xs text-grey uppercase">
          Preferred Contact Method
        </h2>

        <mat-radio-button value="email" class="mr-4">Email</mat-radio-button>
        <mat-radio-button value="phone" class="mr-4">Phone</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
  <div>
    <app-address-form
      [disabled]="!editMode"
      [editMode]="editMode"
      *ngIf="sellerCountry"
      [address]="sellerAddress"
      [country]="sellerCountry"
    ></app-address-form>
  </div>
</mat-card>
