
<ng-container *ngIf="environment == true">
  <app-maintenance-message></app-maintenance-message>
</ng-container>
<div class="flex justify-between items-center mb-6">
  <div class="flex items-center">
    <i
      class="las la-angle-left text-accent mr-3 cursor-pointer"
      routerLink="/auctions"
      style="font-size: 48px"
    ></i>
    <h1 class="text-4xl lg:text-5xl font-medium">Auction Details</h1>
  </div>
  <div class="w-64 hidden lg:block">
    <button mat-flat-button color="accent" routerLink="/auctions">
      BACK TO AUCTION LISTING
    </button>
  </div>
</div>
<ng-container *ngIf="$vm | async as vm else noAuction">
  <!-- auction header -->
  <app-auction-card
    [allowEdit]="true"
    [auction]="vm.auction"
  ></app-auction-card>

  <!-- auction notifications -->
  <app-closeable-card>
    <h1 title class="font-medium text-3xl mb-3">Auction Notifications</h1>
    <div main>
      <mat-accordion>
        <div *ngFor="let nt of vm.notifications">
          <app-action-notification-expansion-panel style="white-space: pre-wrap;"
            [notification]="nt"
          ></app-action-notification-expansion-panel>
        </div>
      </mat-accordion>
      <p style="white-space: pre-wrap;" class="text-center" *ngIf="vm.notifications.length <= 0">
        No notifications found.
      </p>
    </div>
  </app-closeable-card>

  <!-- auction team -->
  <app-auction-team [auction]="vm.auction"></app-auction-team>

  <app-auction-phases [auction]="vm.auction"></app-auction-phases>
  <app-auction-documents [auction]="vm.auction"></app-auction-documents>

  <app-auction-metrics [auction]="vm.auction"></app-auction-metrics>
</ng-container>

<ng-template #noAuction>
  <p class="text-center">Auction not found.</p>
</ng-template>
