<div class="flex h-14 mb-6 shadow rounded-md w-full">
  <!-- filter symbol -->
  <div
    class="
      h-14
      w-40
      lg:w-44
      pl-4
      pr-6
      items-center
      inline-flex
      border-r border-secondary
      rounded-l-md
      bg-white
      lg:rounded-r-0
    "
  >
    <h3 class="uppercase font-medium text-sm">Filter by</h3>
  </div>
  <!-- Phase filter -->
  <div
    [matMenuTriggerFor]="phases"
    class="
      h-14
      w-40
      pl-4
      pr-6
      items-center
      justify-between
      border-r border-secondary
      cursor-pointer
      bg-white
      group
      inline-flex
    "
  >
    <ng-container
      *ngIf="auctionFilters.phaseFilter$ | async as phase; else noPhase"
    >
      <h3 class="text-md font-medium">
        {{ phase.label }}
      </h3>
    </ng-container>
    <ng-template #noPhase>
      <h3 class="text-md font-medium">Phase</h3>
    </ng-template>
    <i
      class="las la-angle-down group-hover:text-accent"
      style="font-size: 22px"
    ></i>
  </div>
  <mat-menu #phases="matMenu" class="w-48">
    <button mat-menu-item (click)="phaseSelection(null)">
      <div class="flex items-center">
        <div class="w-5 h-5 rounded bg-grey mr-2"></div>
        <p class="font-medium text-md">All</p>
      </div>
    </button>
    <button
      mat-menu-item
      *ngFor="let phase of filterPhases"
      (click)="phaseSelection(phase)"
    >
      <div class="flex items-center">
        <div class="w-5 h-5 rounded mr-2" [ngClass]="phase.color"></div>
        <p class="font-medium text-md">{{ phase.label }}</p>
      </div>
    </button>
  </mat-menu>

  <!-- years -->
  <div
    [matMenuTriggerFor]="years"
    class="
      h-14
      w-40
      pl-4
      pr-6
      items-center
      justify-between
      border-r border-secondary
      cursor-pointer
      bg-white
      group
      inline-flex
    "
  >
    <ng-container *ngIf="auctionFilters.yearFilter$ | async as year">
      <h3 class="text-md font-medium">{{ year > 0 ? year : "Year" }}</h3>
    </ng-container>
    <i
      class="las la-angle-down group-hover:text-accent"
      style="font-size: 22px"
    ></i>
  </div>
  <mat-menu #years="matMenu">
    <button mat-menu-item (click)="yearSelection(-1)">
      <span>All</span>
    </button>
    <button
      mat-menu-item
      *ngFor="let year of filterYears"
      (click)="yearSelection(year)"
    >
      <span>{{ year }}</span>
    </button>
  </mat-menu>
  <!-- reset -->
  <div
    class="
      h-14
      w-48
      pl-4
      pr-6
      items-center
      bg-white
      text-warn
      cursor-pointer
      inline-flex
      border-r border-secondary
    "
    (click)="resetFilters()"
  >
    <i class="mr-4 las la-redo-alt" style="font-size: 22px"></i>
    <h3 class="font-medium text-sm">Reset Filter</h3>
  </div>
  <!-- search -->
  <div class="h-14 pl-4 pr-6 items-center rounded-r-md bg-white flex flex-grow">
    <div class="flex w-full">
      <i
        style="font-size: 24px"
        class="
          las
          la-search
          cursor-pointer
          mr-3
          -ml-1
          transform
          -rotate-90
          text-grey
        "
        matPrefix
      ></i>

      <input
        [formControl]="searchValue"
        class="bg-secondary-2 text-sm flex-grow"
        placeholder="Search"
        matInput
      />
    </div>
  </div>
</div>
