<div mat-dialog-content class="w-full">
  <header class="mb-4">
    <div class="w-full inline-flex justify-end">
      <i
        class="las la-times hover:text-accent cursor-pointer"
        mat-dialog-close
      ></i>
    </div>
    <div class="w-full inline-flex justify-start mb-5">
      <img src="assets/icons/invite_observer-team.svg" class="w-16" />
    </div>
    <h1 class="font-medium text-3xl mb-2">Create Team</h1>
    <p class="text-xl">Every great team deserves a great name. What’s yours?</p>
  </header>
  <form class="flex flex-col mt-4 input-with-labels w-full">
    <mat-form-field class="mb-2 w-full">
      <mat-label>Team Name</mat-label>
      <input
        [formControl]="teamName"
        matInput
        type="text"
        placeholder="Team name"
        required
      />
    </mat-form-field>
    <ng-container *ngIf="!loading else loader">
      <div class="flex">
        <div class="mr-2">
          <button
            class="border-button"
            mat-flat-button
            mat-dialog-close
            color="accent"
          >
            CANCEL
          </button>
        </div>
        <div>
          <button
            mat-flat-button
            (click)="createTeam()"
            [disabled]="teamName.invalid || loading"
            color="accent"
          >
            CREATE TEAM
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #loader>
      <app-loader-box></app-loader-box>
    </ng-template>
  </form>
</div>
