<div mat-dialog-content class="w-full">
  <header class="mb-4">
    <div class="w-full inline-flex justify-end">
      <i class="las la-times cursor-pointer" mat-dialog-close></i>
    </div>
    <div class="w-full inline-flex justify-start mb-5">
      <img src="assets/icons/invite_observer-team.svg" class="w-16" />
    </div>
    <h1 class="font-medium text-3xl mb-2">Invite Member</h1>
    <p class="text-xl">Every great team deserves a great members.</p>
  </header>
  <form [formGroup]="inviteForm" class="flex flex-col mt-4 input-with-labels">
    <mat-form-field class="mb-2">
      <mat-label>Email</mat-label>
      <input
        formControlName="email"
        matInput
        type="email"
        placeholder="Email"
        required
      />
      <mat-error
        *ngIf="
          inviteForm.get('email')?.hasError('email') ||
          inviteForm.get('email')?.hasError('pattern')
        "
        >The email is invalid</mat-error
      >
      <mat-error *ngIf="inviteForm.get('email')?.hasError('required')"
        >The email is required</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select required formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ role | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container *ngIf="!loading; else loader">
      <div class="flex">
        <div class="mr-2">
          <button
            class="flex-1 border-button"
            mat-flat-button
            mat-dialog-close
            color="accent"
          >
            CANCEL
          </button>
        </div>
        <div>
          <button
            mat-flat-button
            color="accent"
            [disabled]="inviteForm.invalid"
            (click)="invite()"
          >
            SEND INVITE
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #loader>
      <app-loader-box></app-loader-box>
    </ng-template>
  </form>
</div>
