<div
  *ngIf="vm$ | async as vm"
  class="w-full inline-block mr-3.5"
  [ngClass]="{ 'lg:w-96': !vm.team.isPartner }"
>
  <mat-card class="mb-5" style="padding: 0 !important">
    <!-- content -->
    <section class="mb-5 flex flex-wrap flex-col-reverse lg:flex-row-reverse">
      <div
        class="w-full relative p-4 pt-0 lg:pt-4"
        [ngClass]="{
          'lg:w-96 lg:shadow rounded-l-lg': vm.team.isPartner
        }"
      >
        <h1 class="font-medium text-left mb-4">
          <h2 class="text-lg text-accent mb-0">#{{ vm.team.teamNumber }}</h2>
          <form [formGroup]="teamForm">
            <ng-container *ngIf="!loading; else loader">
            <span *ngIf="!editMode" class="text-4xl font-bold -mt-2"> {{vm.team.teamName}} </span>
            <span class="text-4xl font-bold -mt-2">
              <input
                style="width: max-content"
                *ngIf="editMode"
                formControlName="teamName"
                matInput
                required
                type="text"
                placeholder="{{vm.team.teamName}}"
                autofocus
              />
              <i *ngIf="!editMode" (click)="editMode = true;"
              style="color: #1fa0ba; cursor: pointer;" class="las la-edit">
            </i>
            <i *ngIf="editMode" (click)="editMode = false; fillForm();"
            style="color: #1fa0ba; cursor: pointer;" class="las la-window-close">
          </i>
            <i *ngIf="editMode" (click)="updateTeamName()"
            style="color: #1fa0ba; cursor: pointer;" class="las la-save">
          </i>
          </span>
          </ng-container>
        </form>
        </h1>
        <div class="bg-light-blue-2 rounded-lg p-4 pb-0.5 mb-2">
          <div class="w-full">
            <ng-container
              *ngFor="let adminId of vm.adminsIds; trackBy: identify"
            >
              <app-seller-card
                [sellerId]="adminId"
                [role]="roles.Admin"
                [canBeDeleted]="vm.isUserAnAdmin && adminId !== vm.userId"
                [team]="vm.team"
                (removeMember)="
                  deleteMember(vm.team.teamId, adminId, roles.Admin)
                "
              ></app-seller-card>
            </ng-container>

            <ng-container
              *ngFor="let viewerId of vm.viewersIds; trackBy: identify"
            >
              <app-seller-card
                [sellerId]="viewerId"
                [role]="roles.Viewer"
                [canBeDeleted]="vm.isUserAnAdmin && viewerId !== vm.userId"
                [team]="vm.team"
                (removeMember)="
                  deleteMember(vm.team.teamId, viewerId, roles.Viewer)
                "
              ></app-seller-card>
            </ng-container>

            <ng-container *ngIf="im$ | async as im">
              <ng-container
                *ngFor="let invite of im; trackBy: identify"
              >
                <app-invite-card
                  [sellerEmail]="invite.sellerEmail"
                  [invitationId]="invite"
                ></app-invite-card>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div
          class="
            w-full
            flex
            items-center
            justify-between
            px-3
            pt-2
            mb-3
            lg:mb-0
          "
        >
          <!-- partner buttons-->
          <ng-container *ngIf="!deletingTeam; else loader">
            <i
              *ngIf="vm.isUserAnAdmin"
              (click)="
                deleteTeam(
                  vm.isUserAnAdmin,
                  vm.team,
                  vm.adminsIds,
                  vm.viewersIds
                )
              "
              class="las la-trash-alt cursor-pointer hover:text-warn"
              style="font-size: 32px"
            ></i>
          </ng-container>
          <ng-template #loader>
            <app-loader-box></app-loader-box>
          </ng-template>

          <div class="pl-1 mb-1">
            <button
              class="w-full"
              mat-flat-button
              color="accent"
              (click)="openAddMemberDialog(vm.team)"
            >
              INVITE TEAM MEMBER
            </button>
          </div>
        </div>
      </div>
      <div
        *ngIf="vm.team.isPartner"
        class="w-full lg:w-min lg:flex-grow lg:pr-4 p-4"
      >
        <app-team-partner-information
          [partnerProfile]="vm.team.partnerProfile"
          [team]="vm.team"
        ></app-team-partner-information>
      </div>
    </section>
  </mat-card>
</div>
