<!-- auction team -->
<app-closeable-card *ngIf="auction">
  <div title class="flex justify-between">
    <h1 class="font-medium text-3xl mb-3">Documents</h1>
    <p class="cursor-pointer hidden lg:block">Auction documents.</p>
  </div>
  <div main>
    <div class="mb-2" *ngIf="auction">
      <mat-accordion>
        <mat-expansion-panel
          class="bg-light-blue-2"
          *ngFor="let doc of auction.customDocuments"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="flex items-center">
                <div class="mr-2">
                  <mat-checkbox disabled [checked]="true"></mat-checkbox>
                </div>
                <div class="font-medium -mb-0.5">{{ doc.title }}</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <p class="mb-6">
              {{ doc.desc }}
            </p>
            <div class="flex">
              <div>
                <button
                  mat-flat-button
                  color="accent"
                  (click)="downloadDocumet(doc)"
                >
                  <i class="las la-download"></i>
                  DOWNLOAD DOCUMENT
                </button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel
          class="bg-light-blue-2"
          *ngFor="let doc of auction.standardDocuments"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="flex items-center">
                <div class="mr-2">
                  <mat-checkbox disabled [checked]="true"></mat-checkbox>
                </div>
                <div class="font-medium -mb-0.5">{{ doc.title }}</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <p class="mb-6">
              {{ doc.desc }}
            </p>
            <div class="flex">
              <div>
                <button
                  mat-flat-button
                  color="accent"
                  (click)="downloadDocumet(doc)"
                >
                  <i class="las la-download"></i>
                  DOWNLOAD DOCUMENT
                </button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</app-closeable-card>
