<mat-expansion-panel
  [ngClass]="{
    'bg-light-yellow': notification.priority === types.Important,
    'bg-light-blue-3': notification.priority === types.Informational
  }"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="flex items-center">
        <div class="w-10">
          <div [ngSwitch]="notification.priority">
            <div *ngSwitchCase="types.Informational">
              <i class="las la-info-circle text-info"></i>
            </div>
            <div *ngSwitchCase="types.Important">
              <i class="las la-exclamation-triangle text-alert"></i>
            </div>
          </div>
        </div>
        <div
          class="font-medium"
          [ngClass]="{
            'text-alert': notification.priority === types.Important,
            'text-info': notification.priority === types.Informational
          }"
        >
          {{
            notification.priority === types.Important
              ? "Important"
              : "Informational"
          }}
        </div>
      </div>
    </mat-panel-title>
    <mat-panel-description
      class="font-medium flex justify-between items-center"
    >
      <span class="text-black hidden lg:block">{{
        notification.friendlyName
      }}</span>
      <span>{{ notification.dateSent | auctionDate }} </span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p class="pl-7 text-black font-bold block lg:hidden">
    {{ notification.friendlyName }}
  </p>
  <div [innerHTML]="notification.message" class="pl-7 lg:pl-48 lg:ml-1"></div>
</mat-expansion-panel>
