<form [formGroup]="partnerForm" class="mr-2 w-full">
  <div class="flex items-center justify-between mb-5">
    <h1 class="font-medium text-3xl">Partner Information</h1>
    <ng-container *ngIf="!loading; else loader">
      <div *ngIf="!editMode">
        <button
          (click)="editMode = true; enableForm()"
          mat-flat-button
          color="accent"
        >
          EDIT
        </button>
      </div>
      <div class="flex" *ngIf="editMode">
        <div class="mr-2">
          <button
            class="border-button"
            (click)="editMode = false; fillForm(); disableForm()"
            mat-flat-button
            color="accent"
          >
            CANCEL
          </button>
        </div>
        <button (click)="update()" mat-flat-button color="accent">SAVE</button>
      </div>
    </ng-container>
    <ng-template #loader>
      <app-loader-box></app-loader-box>
    </ng-template>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-4 lg:mb-5">
    <div class="w-full mb-4 h-72 lg:hidden">
      <app-editable-image
        (click)="openPartnerImageDialog()"
        [square]="true"
        [imageUrl]="partnerProfile?.logoURL ? partnerProfile?.logoURL : ''"
      ></app-editable-image>
    </div>
    <div>
      <mat-form-field class="mb-2 w-full">
        <mat-label>Company Name</mat-label>
        <input
          formControlName="companyName"
          matInput
          required
          type="text"
          placeholder="Company Name"
          required
        />
        <i
          *ngIf="partnerForm.get('companyName').valid && editMode"
          matSuffix
          class="las la-check text-success"
        ></i>
        <mat-error>The company name is required</mat-error>
      </mat-form-field>
      <mat-form-field class="lg:mb-2 w-full">
        <mat-label>Company description</mat-label>
        <textarea
          rows="8"
          formControlName="companyDescription"
          matInput
          required
          placeholder="Company description"
        ></textarea>
        <i
          *ngIf="partnerForm.get('companyDescription').valid && editMode"
          matSuffix
          class="las la-check text-success"
        ></i>
        <mat-error>The company description is required</mat-error>
      </mat-form-field>
    </div>

    <div class="w-full h-72 hidden lg:block">
      <app-editable-image
        (click)="openPartnerImageDialog()"
        [square]="true"
        [imageUrl]="partnerProfile?.logoURL ? partnerProfile?.logoURL : ''"
      ></app-editable-image>
    </div>
  </div>
  <!-- here -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-4">
    <mat-form-field class="w-full">
      <mat-label>Shop Page URL</mat-label>
      <input
        formControlName="shopUrl"
        matInput
        required
        type="text"
        placeholder="Shop Url"
      />
      <i
        *ngIf="partnerForm.get('shopUrl').valid && editMode"
        matSuffix
        class="las la-check text-success"
      ></i>
      <mat-error>The company shop page URL is required</mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Company Home Page URL</mat-label>
      <input
        formControlName="companyHomePage"
        matInput
        type="text"
        required
        placeholder="Company Home Page URL"
      />
      <i
        *ngIf="partnerForm.get('companyHomePage').valid && editMode"
        matSuffix
        class="las la-check text-success"
      ></i>
      <mat-error>The company home page URL is required</mat-error>
    </mat-form-field>
  </div>
  <app-address-form
    [disabled]="!editMode"
    [editMode]="editMode"
    [address]="partnerProfile?.mailingAddress"
    [country]="team.teamCountry"
  ></app-address-form>
</form>
