<mat-card class="mb-4 bg-white">
  <div class="flex h-14 items-center justify-between">
    <div class="flex items-center">
      <img src="assets/icons/invitation_auction.svg" alt="auction invitation" />
      <div class="ml-2">
        <p class="font-medium text-success">Auction Invitation</p>
        <span class="text-xl font-medium"
          >You have been invited to new auction
        </span>
      </div>
    </div>
    <div class="flex">
      <div class="mr-2">
        <button
          class="
            bg-white
            border-2 border-warn
            rounded-full
            w-36
            h-12
            font-medium
            uppercase
          "
          color="primary"
        >
          Decline
        </button>
      </div>
      <button
        class="
          bg-success
          rounded-full
          w-36
          h-12
          font-medium
          uppercase
          text-white
        "
        color="primary"
      >
        Accept
      </button>
    </div>
  </div>
</mat-card>
