<mat-card
  class="mb-5"
  style="padding: 0 !important"
  *ngIf="seller$ | async as seller"
>
  <div class="h-56 rounded-t-lg bg-accent"></div>

  <div
    class="-mt-48 mx-auto rounded-full bg-white"
    style="width: 260px; height: 260px"
  >
    <app-editable-image
      *ngIf="profileImage$ | async as profileImage"
      (click)="openProfileImageDialog()"
      basePath="assets/images/icon_generic-user.svg"
      [imageUrl]="
        profileImage.profilePhotoURI ? profileImage.profilePhotoURI : ''
      "
    ></app-editable-image>
  </div>

  <div class="p-5">
    <div class="text-center">
      <img
        class="w-12 inline-block mr-2 -mt-0.5 mb-3"
        [src]="
          countryEnum.Canada === seller.country
            ? 'assets/images/flags/canada.png'
            : 'assets/images/flags/usa.png'
        "
      />
      <div class="font-medium mb-4">
        <h1 class="text-3xl mb-1">
          {{ seller.firstName }} {{ seller.lastName }}
        </h1>
        <p class="text-accent">
          Seller since {{ seller.sellerSince | dateYear }}
        </p>
      </div>
      <div>
        <div class="p-4 bg-light-blue-2 rounded-lg flex items-start mb-4">
          <div class="w-full flex text-center">
            <div class="flex-1">
              <h1 class="font-medium text-2xl">
                {{ seller.auctionList.length }}
              </h1>
              <h2 class="text-grey">Auctions</h2>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex h-14 items-center px-3 justify-center text-accent"
        *ngIf="seller.covidTraining"
      >
        <i class="las la-award mr-2"></i>
        <div class="text-xs font-medium">COVID SAFETY CERTIFIED</div>
      </div>
    </div>
  </div>
</mat-card>
