<mat-expansion-panel
  [ngClass]="{
    'bg-light-yellow': notification.priority === types.Important,
    'bg-light-blue-3': notification.priority === types.Informational
  }"
  (afterExpand)="onOpen()"
>
  <mat-expansion-panel-header>
    <mat-panel-title
      style="max-width: 1920px !important"
      class="flex items-center"
    >
      <div class="flex-shrink-0 mr-3">
        <div
          class="ml-2.5 w-3 h-3 rounded-full"
          [ngClass]="notification.read ? '' : 'bg-accent'"
        ></div>
      </div>

      <div class="grid grid-cols-12 flex-grow gap-1.5">
        <div class="hidden lg:flex lg:col-span-2 items-center">
          <span>{{ notification.dateSent | auctionDateShort }}</span>
        </div>
        <div class="hidden lg:flex lg:col-span-2 items-center">
          <span class="text-black mr-1">{{ notification.am_auction_id }}</span>
        </div>

        <div class="col-span-10 lg:col-span-6 flex items-center">
          <span class="font-bold text-black truncate overflow-ellipsis">
            {{ notification.friendlyName }}
          </span>
        </div>

        <div class="lg:col-span-2 flex items-center">
          <div class="flex items-center">
            <div [ngSwitch]="notification.priority">
              <div *ngSwitchCase="types.Informational">
                <i class="las la-info-circle text-info"></i>
              </div>
              <div *ngSwitchCase="types.Important">
                <i class="las la-exclamation-triangle text-alert"></i>
              </div>
            </div>
            <div [ngSwitch]="notification.priority">
              <div *ngSwitchCase="types.Informational">
                <div class="font-medium text-info hidden lg:block">
                  Informational
                </div>
              </div>
              <div *ngSwitchCase="types.Important">
                <div class="font-medium text-alert hidden lg:block">
                  Important
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="flex lg:hidden items-center justify-between mb-2">
    <span class="text-black">{{ notification.am_auction_id }}</span>
    <span>{{ notification.dateSent | auctionDateShort }}</span>
  </div>
  <p class="pl-0" style="white-space:pre-wrap" [innerHtml]="notification.message"></p>
</mat-expansion-panel>
