<mat-card class="mb-4 bg-white">
  <div class="flex h-14 items-center justify-between">
    <div class="flex items-center">
      <div class="ml-3">
        <p class="font-medium text-warn">Under Maintenance</p>
        <span class="text-xl font-medium"
          >Our Seller Portal is currently undergoing maintenance.
           During this time, there may be delays in metrics and other auction data updating. We thank you for your patience.
        </span>
      </div>
    </div>
  </div>
</mat-card>
