<div mat-dialog-content class="w-full">
  <header class="mb-8">
    <div class="w-full inline-flex justify-end">
      <i
        class="las la-times hover:text-accent cursor-pointer"
        mat-dialog-close
      ></i>
    </div>
    <div class="flex items-center justify-start mb-4">
      <img src="assets/icons/invite_observer-team.svg" class="w-16" />
      <h1 class="font-medium text-3xl ml-4">Auction Alias</h1>
    </div>
    <p class="text-xl">
      The alias change will be visible to all users with access to this auction.
    </p>
  </header>
  <form class="flex flex-col mb-8 input-with-labels w-full">
    <mat-form-field class="mb-2 w-full">
      <mat-label>New Auction Alias</mat-label>
      <input
        [formControl]="auctionName"
        matInput
        type="text"
        placeholder="Auction Alias..."
        required
      />
    </mat-form-field>
    <ng-container *ngIf="!loading; else loader">
      <div class="flex">
        <div class="mr-2">
          <button
            class="border-button"
            mat-flat-button
            mat-dialog-close
            color="accent"
          >
            CANCEL
          </button>
        </div>
        <div>
          <button
            mat-flat-button
            (click)="changeName()"
            [disabled]="auctionName.invalid || loading"
            color="accent"
          >
            CHANGE AUCTION ALIAS
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #loader>
      <app-loader-box></app-loader-box>
    </ng-template>
  </form>
</div>
