<mat-card
  class="mb-5"
  style="padding: 0 !important"
  *ngIf="athlete$ | async as athlete"
>
  <div class="h-56 rounded-t-lg bg-accent"></div>

  <div
    class="-mt-48 mx-auto rounded-full bg-white"
    style="width: 260px; height: 260px"
  >
    <app-editable-image
      *ngIf="profileImage$ | async as profileImage"
      (click)="openProfileImageDialog()"
      basePath="assets/images/icon_generic-user.svg"
      [imageUrl]="
        profileImage.profilePhotoURI ? profileImage.profilePhotoURI : ''
      "
    ></app-editable-image>
  </div>

  <div class="p-5">
    <div class="text-center">
      <div class="font-medium mb-4">
        <h1 class="text-3xl mb-1">
          {{ athlete.firstName }} {{ athlete.lastName }}
        </h1>
      </div>
    </div>
  </div>
</mat-card>
