<div class="mx-auto w-full max-w-6xl h-96">
  <ngx-charts-area-chart
    [scheme]="colorScheme"
    [legend]="false"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="false"
    [yAxisLabel]="false"
    [showGridLines]="true"
    [gradient]="true"
    [timeline]="true"
    [autoScale]="true"
    [results]="results"
    [trimXAxisTicks]="false"
    [trimYAxisTicks]="false"
    [yAxisTickFormatting]="formatting"
    [xAxisTicks]="ticks"
  >
  </ngx-charts-area-chart>
</div>
